#!/usr/bin/env ruby
require 'byebug'
require 'nanoc/latexmk'

compile '/cv.md', rep: :pdf do
  layout '/cv.tex.erb'
  filter :latexmk, engine: :xelatex
  write ext: 'pdf'
end

compile '/posts/*.md' do
  layout '/post.erb'
  layout '/default.erb'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.erb'
end

compile '/*.html' do
  layout item.identifier.without_ext + '.erb'
  layout '/default.erb'
end

compile '/feed.xml.erb' do
  filter :erb
  write '/feed.xml'
end

# Simplify URLs
route '/**/*.{md,html}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

# Move asset subfolders and files to root folder
route '/assets/**/*' do
  item.identifier.to_s.sub('/assets', '')
end

# Let non-specified stuff simply pass trough
passthrough '/**/*'

# Layouts
layout '/**/*.erb', :erb
layout '/**/*.cls', :cls
