@import "stylesheets/fontawesome.css";

$debug: false;
$about-height: 150px;


// ----- GENERAL -----

body {
    @media print {
        padding: 2cm !important;
    }
    @media screen {
        max-width: 800px;
        margin: 0 auto;
    }
    font: 11pt/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    width: fit-content;
    margin: auto;
    font-size: 24pt;
}

a {
    color: inherit;
    text-decoration-line: inherit;
    &:hover {
        color: auto;
        text-decoration-line: underline;
    }
}

.icon {
    padding-right: 0.5em;
}

.half-block {
    @if $debug == true {
        border: 1px solid black;
    }
    width: 49%;
}

.full-block {
    @if $debug == true {
        border: 1px solid black;
    }
    width: 100%;
}

@media print {
    .page:not(:last-child) {
        break-after: page;
        clear: both !important;
    }
}

.page {
    display: flex;
    float: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page:not(:first-child) {
    // TODO: This does not yet work in Firefox...
    margin-top: 2cm;
}

.todo {
    color: red;
    &::before {
        content: "[TODO]"
    }
}

.listify>*:not(:last-child) {
    &::after {
        content: ",";
    }
    display:inline-block;
}

// ----- ABOUT ME -----

#profile-picture {
    width: $about-height;
    float: left;
}

#about-me {
    padding: 1em;
    height: $about-height;
    border-bottom: dotted lightblue;
}

#name-contact {
    padding-left: $about-height;
    margin-top: 1em;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12pt;

    > * {
        margin: 5px;
    }
}

// ----- EDUCATION -----

#education-timeline {
    border-left: 1px solid black;
    padding-left: 10px;
    margin-left: 50px;

    li {
        display: flex;
        flex-direction: column;

        &::marker {
            content: "";
        }

        .education-school {
            font-size: 16pt;
        }
        .education-year {
            width: fit-content;
            display: block;
            position: relative;
            left: -60px;
        }
    }
}

// ----- SKILLS -----

#skills {
    ul {
        padding-left: 100px;
    }
    li {
        &::marker {
            content: attr(marker) " ";
            font-weight: bold;
        }
    }
}

// ----- PROJECTS -----

#projects {
    #project-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .project {
            border: 1px solid lightgray;
            border-radius: 7px;
            padding: 1em;

            // Print mode does wierd things with wrapping...
            // Especially chromium
            @media print {
                width: 44%;
                margin-top: 0.5em;
            }
            @media screen {
                width: 46%;
                margin-top: 0.2em;
            }

            h3 {
                margin: 0;
                margin-bottom: 0.5em;
            }

            .project-language {
                font-size: 7pt;
                border: 1px solid lightgray;
                border-radius: 7px;
                padding: 2px 5px;
                font-weight: lighter;
                margin: auto 0;
            }
        }
    }
}
